{% extends 'base.html' %}

{% block content %}

{% load static %}

<main>
  <div class="secondBlock">
    <p class="secondBlock__title">О нас</p>
    <div class="aboutUs_econdBlock__content">
      <div class="aboutUs_secondBlock__content_text">
        <p>
        Gad 13 это группа энтузиастов развивающая кастом культуру в России. Gad 13 начал своё существование с 2004 года и основное направление было постройка street fighter , а с 2008 года начало развиваться кастом строительство. Регулярный участник Imis и международного кубка по кастомайзенгу.
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 50px;">
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№26/Рисунок1.jpg' %}" alt="" style="width: 100%; height: 690px;">
      <p style="margin-bottom:20px">Мотомания №26 май-июнь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№26/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №26 май-июнь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№27/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №27 июль-август 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№27/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №27 июль-август 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№27/Рисунок3.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №27 июль-август 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№28/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №28 сентябрь-октябрь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№28/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №28 сентябрь-октябрь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№29/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №29 ноябрь-декабрь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№29/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №29 ноябрь-декабрь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№29/Рисунок3.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №29 ноябрь-декабрь 2009</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№30/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №30 январь-февраль 2010</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№30/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №30 январь-февраль 2010</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№31/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №31 март-апрель 2010/p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№31/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №31 март-апрель 2010</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№34/Рисунок1.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №34 сентябрь-октябрь 2010</p>
    </div>
    <div class="col-6" style="text-align:center">
      <img src="{% static 'img/№34/Рисунок2.jpg' %}" alt="" style="width: 100%;height: 690px;">
      <p style="margin-bottom:20px">Мотомания №34 сентябрь-октябрь 2010</p>
    </div>
  </div>

</main>

{% endblock %}
